<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>姓名：{{ this_name.name }}</p>
<p>适合性别：{{ sex }}</p>

<p>五行：{{ this_name.five_lines }}</p>
<p>使用人数：{{ this_name.nums }}</p>
<p>五行：{{ this_name.five_lines }}</p>
<p>三才：{{ this_name.three_talents }}</p>
<p>天格：{{ this_name.sky }}</p>
<p>地格：{{ this_name.earth }}</p>
<p>人格：{{ this_name.human }}</p>
<p>总格：{{ this_name.total }}</p>
<p>外格：{{ this_name.wai }}</p>
<p>天格（剖析）：{{ this_name.sky_parse }}</p>
<p>地格（剖析）：{{ this_name.earth_parse }}</p>
<p>人格（剖析）：{{ this_name.human_parse }}</p>
<p>总格（剖析）：{{ this_name.total_parse }}</p>
<p>外格（剖析）：{{ this_name.wai_parse }}</p>
</body>
</html>